In [1]:
import pandas as pd
import numpy as np

In [2]:
stat = pd.read_csv('data/General Statistics For each Participated Team.csv')
ranking = pd.read_csv('data/fifa_ranking-2023-07-20.csv')

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.britannica.com/sports/Africa-Cup-of-Nations'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table')

years = []
winners = []
runners_up = []

for row in table.find_all('tr')[1:]:  
    cells = row.find_all('td')
        
    if len(cells) >= 3:  
        years.append(cells[0].get_text(strip=True))
        winners.append(cells[1].get_text(strip=True))
        runners_up.append(cells[2].get_text(strip=True))

champions = pd.DataFrame({
    'year': years,
    'winner': winners,
    'runner-up': runners_up
    })

In [4]:
stat.head()

   Rank          Team  Part  Pld   W   D   L   GF   GA   GD  Pts
0     1  Egypt  [n 1]    25  107  60  20  27  168   90  +78  200
1     2         Ghana    23  102  54  21  27  133   87  +46  183
2     3       Nigeria    19   97  53  22  22  137   91  +46  181
3     4      Cameroon    20   91  45  30  16  137   82  +55  165
4     5   Ivory Coast    24   99  44  30  25  143  101  +42  162

In [5]:
champions

      year               winner      runner-up
0     1957                Egypt       Ethiopia
1     1959                Egypt          Sudan
2     1962             Ethiopia          Egypt
3     1963                Ghana          Sudan
4     1965                Ghana        Tunisia
5     1968     Congo (Kinshasa)          Ghana
6     1970                Sudan          Ghana
7     1972  Congo (Brazzaville)           Mali
8     1974                Zaire         Zambia
9     1976              Morocco         Guinea
10    1978                Ghana         Uganda
11    1980              Nigeria        Algeria
12    1982                Ghana          Libya
13    1984             Cameroon        Nigeria
14    1986                Egypt       Cameroon
15    1988             Cameroon        Nigeria
16    1990              Algeria        Nigeria
17    1992        CÃ´te d'Ivoire          Ghana
18    1994              Nigeria         Zambia
19    1996         South Africa        Tunisia
20    1998                Egypt   South Africa
21    2000             Cameroon        Nigeria
22    2002             Cameroon        Senegal
23    2004              Tunisia        Morocco
24    2006                Egypt  CÃ´te d'Ivoire
25    2008                Egypt       Cameroon
26    2010                Egypt          Ghana
27    2012               Zambia  CÃ´te d'Ivoire
28   2013*              Nigeria   Burkina Faso
29    2015        CÃ´te d'Ivoire          Ghana
30    2017             Cameroon          Egypt
31    2019              Algeria        Senegal
32  2021**              Senegal          Egypt

In [6]:
ranking.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

## Data processing

In [7]:
ranking = ranking[ranking['confederation'] == 'CAF']
ranking = ranking.drop('confederation',axis = 1)
ranking.reset_index(drop=True, inplace=True)

In [8]:
ranking.drop(['country_abrv', 'total_points', 'previous_points'], axis=1, inplace=True)

In [9]:
ranking['year'] = ranking['rank_date'].str.split('-').str[0].astype(int)
ranking.drop(['rank_date'], axis=1, inplace=True)
ranking.rename(columns={'country_full': 'team'}, inplace=True)

In [10]:
ranking.head()

   rank          team  rank_change  year
0    97  Burkina Faso            0  1992
1   100       Burundi            0  1992
2   101          Togo            0  1992
3   102        Angola            0  1992
4   107    Mozambique            0  1992

In [11]:
champions['year'] = champions['year'].str.replace(r'\D', '', regex=True)
champions['year'] = champions['year'].astype(int)

In [12]:
data = ranking.copy()

In [13]:
data['year'] = data['year'].astype(int)
champions['year'] = champions['year'].astype(int)

champions = champions.sort_values('year')

data['previous_cup_wins'] = data.apply(lambda row: len(champions[(champions['year'] <= row['year']) & (champions['winner'] == row['team'])]), axis=1)
data['won_this_year'] = data.apply(lambda row: 1 if ((champions['year'] == row['year']) & (champions['winner'] == row['team'])).any() else 0, axis=1)

In [14]:
champions['winner'] = champions['winner'].replace({'Congo (Kinshasa)': 'DR Congo'})
champions['winner'] = champions['winner'].replace({'Congo (Brazzaville)': 'Congo'})

In [15]:
champions

    year         winner      runner-up
0   1957          Egypt       Ethiopia
1   1959          Egypt          Sudan
2   1962       Ethiopia          Egypt
3   1963          Ghana          Sudan
4   1965          Ghana        Tunisia
5   1968       DR Congo          Ghana
6   1970          Sudan          Ghana
7   1972          Congo           Mali
8   1974          Zaire         Zambia
9   1976        Morocco         Guinea
10  1978          Ghana         Uganda
11  1980        Nigeria        Algeria
12  1982          Ghana          Libya
13  1984       Cameroon        Nigeria
14  1986          Egypt       Cameroon
15  1988       Cameroon        Nigeria
16  1990        Algeria        Nigeria
17  1992  CÃ´te d'Ivoire          Ghana
18  1994        Nigeria         Zambia
19  1996   South Africa        Tunisia
20  1998          Egypt   South Africa
21  2000       Cameroon        Nigeria
22  2002       Cameroon        Senegal
23  2004        Tunisia        Morocco
24  2006          Egypt  CÃ´te d'Ivoire
25  2008          Egypt       Cameroon
26  2010          Egypt          Ghana
27  2012         Zambia  CÃ´te d'Ivoire
28  2013        Nigeria   Burkina Faso
29  2015  CÃ´te d'Ivoire          Ghana
30  2017       Cameroon          Egypt
31  2019        Algeria        Senegal
32  2021        Senegal          Egypt

In [16]:
data.head()

   rank          team  rank_change  year  previous_cup_wins  won_this_year
0    97  Burkina Faso            0  1992                  0              0
1   100       Burundi            0  1992                  0              0
2   101          Togo            0  1992                  0              0
3   102        Angola            0  1992                  0              0
4   107    Mozambique            0  1992                  0              0

In [17]:
stat

    Rank                 Team  Part  Pld   W   D   L   GF   GA   GD  Pts
0      1         Egypt  [n 1]    25  107  60  20  27  168   90  +78  200
1      2                Ghana    23  102  54  21  27  133   87  +46  183
2      3              Nigeria    19   97  53  22  22  137   91  +46  181
3      4             Cameroon    20   91  45  30  16  137   82  +55  165
4      5          Ivory Coast    24   99  44  30  25  143  101  +42  162
5      6              Algeria    19   77  28  22  27   94   89   +5  106
6      7              Morocco    18   70  27  24  19   82   63  +19  105
7      8              Tunisia    20   80  25  29  26   99   94   +5  104
8      9              Senegal    16   67  27  17  23   78   56  +22   98
9     10               Zambia    17   67  26  20  21   81   69  +12   98
10    11      DR Congo  [n 2]    19   73  20  24  29   88  102  â14   84
11    12                 Mali    12   54  19  19  16   65   65    0   76
12    13         South Africa    10   42  16  13  14   48   45   +3   61
13    14               Guinea    13   47  13  17  17   61   66   â5   56
14    15  Burkina Faso  [n 3]    12   48   9  16  23   47   72  â25   43
15    16                Gabon     8   25   7  10   8   24   27   â3   31
16    17                Sudan     9   27   7   7  13   29   42  â13   28
17    18                Congo     7   26   7   7  12   27   40  â13   28
18    19             Ethiopia    11   30   7   4  19   31   67  â36   25
19    20               Angola     8   26   4  12  10   30   39   â9   24
20    21    Equatorial Guinea     3   15   6   4   5   11   14   â3   22
21    22                 Togo     8   25   3   8  14   19   42  â23   17
22    23               Uganda     7   23   4   3  16   21   38  â17   15
23    24                Libya     3   11   3   5   3   12   13   â1   14
24    25           Cape Verde     3   11   2   6   3    6    9   â3   12
25    26             Zimbabwe     5   15   3   2  10   16   31  â15   11
26    27               Gambia     1    5   3   1   1    4    3   +1   10
27    28                Kenya     6   17   2   4  11   12   31  â19   10
28    29           Madagascar     1    5   2   2   1    7    7    0    8
29    30               Malawi     3   10   2   2   6    9   15   â6    8
30    31         Sierra Leone     3    8   1   3   4    4   14  â10    6
31    32              Liberia     2    5   1   2   2    5    7   â2    5
32    33                Benin     4   14   0   5   9    7   24  â17    5
33    34               Rwanda     1    3   1   1   1    3    3    0    4
34    35              Comoros     1    4   1   0   3    4    7   â3    3
35    36        Guinea-Bissau     3    9   0   3   6    2   12  â10    3
36    37           Mauritania     2    6   0   2   4    1   11  â10    2
37    38              Namibia     3    9   0   2   7   10   24  â14    2
38    39           Mozambique     4   12   0   2  10    4   26  â22    2
39    40                Niger     2    6   0   1   5    1    9   â8    1
40    41             Tanzania     2    6   0   1   5    5   14   â9    1
41    42              Burundi     1    3   0   0   3    0    4   â4    0
42    43            Mauritius     1    3   0   0   3    2    8   â6    0
43    44             Botswana     1    3   0   0   3    2    9   â7    0

In [18]:
stat.loc[stat['Team'].str.contains('Egypt'), 'Team'] = 'Egypt'
stat.loc[stat['Team'].str.contains('DR Congo'), 'Team'] = 'DR Congo'
stat.loc[stat['Team'].str.contains('Burkina Faso'), 'Team'] = 'Burkina Faso'

In [19]:
stat

    Rank               Team  Part  Pld   W   D   L   GF   GA   GD  Pts
0      1              Egypt    25  107  60  20  27  168   90  +78  200
1      2              Ghana    23  102  54  21  27  133   87  +46  183
2      3            Nigeria    19   97  53  22  22  137   91  +46  181
3      4           Cameroon    20   91  45  30  16  137   82  +55  165
4      5        Ivory Coast    24   99  44  30  25  143  101  +42  162
5      6            Algeria    19   77  28  22  27   94   89   +5  106
6      7            Morocco    18   70  27  24  19   82   63  +19  105
7      8            Tunisia    20   80  25  29  26   99   94   +5  104
8      9            Senegal    16   67  27  17  23   78   56  +22   98
9     10             Zambia    17   67  26  20  21   81   69  +12   98
10    11           DR Congo    19   73  20  24  29   88  102  â14   84
11    12               Mali    12   54  19  19  16   65   65    0   76
12    13       South Africa    10   42  16  13  14   48   45   +3   61
13    14             Guinea    13   47  13  17  17   61   66   â5   56
14    15       Burkina Faso    12   48   9  16  23   47   72  â25   43
15    16              Gabon     8   25   7  10   8   24   27   â3   31
16    17              Sudan     9   27   7   7  13   29   42  â13   28
17    18              Congo     7   26   7   7  12   27   40  â13   28
18    19           Ethiopia    11   30   7   4  19   31   67  â36   25
19    20             Angola     8   26   4  12  10   30   39   â9   24
20    21  Equatorial Guinea     3   15   6   4   5   11   14   â3   22
21    22               Togo     8   25   3   8  14   19   42  â23   17
22    23             Uganda     7   23   4   3  16   21   38  â17   15
23    24              Libya     3   11   3   5   3   12   13   â1   14
24    25         Cape Verde     3   11   2   6   3    6    9   â3   12
25    26           Zimbabwe     5   15   3   2  10   16   31  â15   11
26    27             Gambia     1    5   3   1   1    4    3   +1   10
27    28              Kenya     6   17   2   4  11   12   31  â19   10
28    29         Madagascar     1    5   2   2   1    7    7    0    8
29    30             Malawi     3   10   2   2   6    9   15   â6    8
30    31       Sierra Leone     3    8   1   3   4    4   14  â10    6
31    32            Liberia     2    5   1   2   2    5    7   â2    5
32    33              Benin     4   14   0   5   9    7   24  â17    5
33    34             Rwanda     1    3   1   1   1    3    3    0    4
34    35            Comoros     1    4   1   0   3    4    7   â3    3
35    36      Guinea-Bissau     3    9   0   3   6    2   12  â10    3
36    37         Mauritania     2    6   0   2   4    1   11  â10    2
37    38            Namibia     3    9   0   2   7   10   24  â14    2
38    39         Mozambique     4   12   0   2  10    4   26  â22    2
39    40              Niger     2    6   0   1   5    1    9   â8    1
40    41           Tanzania     2    6   0   1   5    5   14   â9    1
41    42            Burundi     1    3   0   0   3    0    4   â4    0
42    43          Mauritius     1    3   0   0   3    2    8   â6    0
43    44           Botswana     1    3   0   0   3    2    9   â7    0

In [20]:
stat['Gd'] = stat['GF'] - stat['GA']

In [21]:
stat = stat.drop('GD',axis = 1)

In [22]:
data

,rank,team,rank_change,year,previous_cup_wins,won_this_year
0,97,Burkina Faso,0,1992,0,0
1,100,Burundi,0,1992,0,0
2,101,Togo,0,1992,0,0
3,102,Angola,0,1992,0,0
4,107,Mozambique,0,1992,0,0
...,...,...,...,...,...,...
16678,52,CÃ´te d'Ivoire,1,2023,2,0
16679,56,Burkina Faso,1,2023,0,0
16680,60,Ghana,1,2023,4,0
16681,63,South Africa,1,2023,1,0
16682,66,Cabo Verde,0,2023,0,0

In [23]:
sorted(data['team'].unique())

['Algeria',
 'Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cameroon',
 'Cape Verde Islands',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 'Congo DR',
 "CÃ´te d'Ivoire",
 'Djibouti',
 'Egypt',
 'Equatorial Guinea',
 'Eritrea',
 'Eswatini',
 'Ethiopia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Sao Tome e Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Sudan',
 'Swaziland',
 'SÃ£o TomÃ© and PrÃ­ncipe',
 'SÃ£o TomÃ© e PrÃ­ncipe',
 'Tanzania',
 'The Gambia',
 'Togo',
 'Tunisia',
 'Uganda',
 'Zaire',
 'Zambia',
 'Zimbabwe']

In [24]:
sorted(stat['Team'].unique())

['Algeria',
 'Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Cape Verde',
 'Comoros',
 'Congo',
 'DR Congo',
 'Egypt',
 'Equatorial Guinea',
 'Ethiopia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Ivory Coast',
 'Kenya',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Senegal',
 'Sierra Leone',
 'South Africa',
 'Sudan',
 'Tanzania',
 'Togo',
 'Tunisia',
 'Uganda',
 'Zambia',
 'Zimbabwe']

In [25]:
sorted(stat['Team'].unique()) in sorted(data['team'].unique())

False

In [26]:
mapping_dict = {
    'Cabo Verde': 'Cape Verde',
    'Cape Verde Islands': 'Cape Verde',
    'Central African Republic': 'CAR',
    'Congo DR': 'DR Congo',
    "CÃ´te d'Ivoire": 'Ivory Coast',
    'Sao Tome e Principe': 'Sao Tome and Principe',
    'SÃ£o TomÃ© e PrÃ­ncipe': 'Sao Tome and Principe',
    'Swaziland': 'Eswatini',
    'SÃ£o TomÃ© and PrÃ­ncipe': 'Sao Tome and Principe',
    'The Gambia': 'Gambia',
    'Zaire': 'DR Congo'
}

data['team'] = data['team'].replace(mapping_dict)

In [27]:
data = data.merge(stat[['Team', 'Part', 'W', 'D', 'L', 'Gd', 'Pts']], left_on='team', right_on='Team', how='left')

In [28]:
data.isnull().sum()

rank                    0
team                    0
rank_change             0
year                    0
previous_cup_wins       0
won_this_year           0
Team                 2611
Part                 2611
W                    2611
D                    2611
L                    2611
Gd                   2611
Pts                  2611
dtype: int64

In [29]:
data = data.dropna()
data = data.drop('Team',axis=1)

In [30]:
data

,rank,team,rank_change,year,previous_cup_wins,won_this_year,Part,W,D,L,Gd,Pts
0,97,Burkina Faso,0,1992,0,0,12.0,9.0,16.0,23.0,-25.0,43.0
1,100,Burundi,0,1992,0,0,1.0,0.0,0.0,3.0,-4.0,0.0
2,101,Togo,0,1992,0,0,8.0,3.0,8.0,14.0,-23.0,17.0
3,102,Angola,0,1992,0,0,8.0,4.0,12.0,10.0,-9.0,24.0
4,107,Mozambique,0,1992,0,0,4.0,0.0,2.0,10.0,-22.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16678,52,Ivory Coast,1,2023,2,0,24.0,44.0,30.0,25.0,42.0,162.0
16679,56,Burkina Faso,1,2023,0,0,12.0,9.0,16.0,23.0,-25.0,43.0
16680,60,Ghana,1,2023,4,0,23.0,54.0,21.0,27.0,46.0,183.0
16681,63,South Africa,1,2023,1,0,10.0,16.0,13.0,14.0,3.0,61.0
16682,66,Cape Verde,0,2023,0,0,3.0,2.0,6.0,3.0,-3.0,12.0

In [31]:
qualified_teams_afcon2023 = [
    "Nigeria",
    "Cameroon",
    "Angola",
    "Namibia",
    "Cape Verde", 
    "Mauritania",  
    "Morocco",
    "South Africa",  
    "Mali",
    "Burkina Faso",
    "Senegal",
    "Ivory Coast",  
    "Egypt",
    "DR Congo",  
    "Equatorial Guinea",  
    "Guinea"  
]

In [32]:
data_2023 = data[data['year'] == 2023]

teams_2023 = set(data_2023['team'])

all_teams_present = all(team in teams_2023 for team in qualified_teams_afcon2023)

print(all_teams_present)

True

In [33]:
filtered_data = data[(data['year'] == 2023) & (data['team'].isin(qualified_teams_afcon2023))]

In [34]:
test = filtered_data[-16:]
test.reset_index(drop=True, inplace=True)

In [35]:
train = data[data['year'] != 2023]
train.reset_index(drop=True, inplace=True)

In [36]:
train

,rank,team,rank_change,year,previous_cup_wins,won_this_year,Part,W,D,L,Gd,Pts
0,97,Burkina Faso,0,1992,0,0,12.0,9.0,16.0,23.0,-25.0,43.0
1,100,Burundi,0,1992,0,0,1.0,0.0,0.0,3.0,-4.0,0.0
2,101,Togo,0,1992,0,0,8.0,3.0,8.0,14.0,-23.0,17.0
3,102,Angola,0,1992,0,0,8.0,4.0,12.0,10.0,-9.0,24.0
4,107,Mozambique,0,1992,0,0,4.0,0.0,2.0,10.0,-22.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13935,150,Liberia,0,2022,0,0,2.0,1.0,2.0,2.0,-2.0,5.0
13936,149,Botswana,1,2022,0,0,1.0,0.0,0.0,3.0,-7.0,0.0
13937,141,Burundi,0,2022,0,0,1.0,0.0,0.0,3.0,-4.0,0.0
13938,138,Ethiopia,0,2022,1,0,11.0,7.0,4.0,19.0,-36.0,25.0
13939,137,Rwanda,0,2022,0,0,1.0,1.0,1.0,1.0,0.0,4.0

In [37]:
test

,rank,team,rank_change,year,previous_cup_wins,won_this_year,Part,W,D,L,Gd,Pts
0,101,Mauritania,2,2023,0,0,2.0,0.0,2.0,4.0,-10.0,2.0
1,114,Namibia,2,2023,0,0,3.0,0.0,2.0,7.0,-14.0,2.0
2,116,Angola,2,2023,0,0,8.0,4.0,12.0,10.0,-9.0,24.0
3,34,Egypt,0,2023,7,0,25.0,60.0,20.0,27.0,78.0,200.0
4,39,Nigeria,0,2023,3,0,19.0,53.0,22.0,22.0,46.0,181.0
5,42,Cameroon,-1,2023,5,0,20.0,45.0,30.0,16.0,55.0,165.0
6,18,Senegal,0,2023,1,0,16.0,27.0,17.0,23.0,22.0,98.0
7,14,Morocco,1,2023,1,0,18.0,27.0,24.0,19.0,19.0,105.0
8,81,Guinea,1,2023,0,0,13.0,13.0,17.0,17.0,-5.0,56.0
9,91,Equatorial Guinea,0,2023,0,0,3.0,6.0,4.0,5.0,-3.0,22.0
10,69,DR Congo,0,2023,0,0,19.0,20.0,24.0,29.0,-14.0,84.0
11,51,Mali,1,2023,0,0,12.0,19.0,19.0,16.0,0.0,76.0
12,52,Ivory Coast,1,2023,2,0,24.0,44.0,30.0,25.0,42.0,162.0
13,56,Burkina Faso,1,2023,0,0,12.0,9.0,16.0,23.0,-25.0,43.0
14,63,South Africa,1,2023,1,0,10.0,16.0,13.0,14.0,3.0,61.0
15,66,Cape Verde,0,2023,0,0,3.0,2.0,6.0,3.0,-3.0,12.0

## Model

In [38]:
from xgboost import XGBClassifier

model = XGBClassifier(learning_rate = 0.01,random_state=42)

X_train = train.drop(['team', 'won_this_year'], axis=1)
y_train = train['won_this_year']

X_test = test.drop(['team', 'won_this_year'], axis=1)

model.fit(X_train, y_train)

y_probabilities = model.predict_proba(X_test)[:, 1]

y_pred = model.predict(X_test)

In [39]:
prediction = {'team':test['team'],'win proba':y_probabilities}

In [40]:
prediction_df = pd.DataFrame(prediction)

In [41]:
prediction_df.sort_values(by='win proba',ascending = False)[:3].reset_index(drop=True)

       team  win proba
0   Senegal   0.327798
1  Cameroon   0.253719
2   Morocco   0.249185